html {
    font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "outfit"; /* this should be the rest of the output you got from Google fonts */
    background-color: white;
  }

h1 {
    font-size: 100px;
    text-align: left;
    color: white;
    margin: 0;
    padding: 40px 0px 40px 40px;
    font-weight: 700;
    line-height: 1em;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: 700;
   }

ul {
    border: 1px solid black;
    color: white
}

ol {
    color:white
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
